/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

body {
	max-height: 100vh;
}

.bottom-nav {
	background-color: rgba(0,0,0,0.1);
	position: fixed;
	bottom: 0;
}
.card-rounded {
	border-radius: 10px !important;
}

.top-image-login {
	width: 30vw;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.login-screen {
	position: fixed;
	top: 0;
	background-color: #000;
	z-index: 30;
	height: 100vh;
	width: 100vw;
	background-image: url('../img/art_2693.jpg');
	background-repeat: repeat;
}