/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.ocult {
	opacity: 0;
}

.newslist {
	background-color:#aaa;
	margin-top: -0.0552083em;
	border-radius: 0 0 0.3em 0.3em;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card .card-for-json {
	padding: 0;
}

.jsonbtn {
	max-width: 100%;
	text-align: center;
	padding: 0 10px;
	font-size: 0.7em;
}

 footer.page-footer{
 	position: fixed;
 	width: 100%;
 	bottom: 0;
 }