<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="images/png" href="images/logobig.png"/>

    <link rel="apple-touch-startup-image" href="/ios-badge.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <title>Jaime López</title>

    <!-- inject-vendor:css -->
    <link rel="stylesheet" href="css/vendor.min-01a3ae75.css">
    <!-- endinject -->

    <!-- inject:css -->
    <link rel="stylesheet" href="css/all.min-9cc91b65.css">
    <!-- endinject -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-controller="AppController as app">

    <div class="io-background">
    </div>
    <div class="intro">
        <div class="intro-inner white z-depth-3"><h1 class="red-text text-accent-2"></h1><img src="images/html5.png" alt="Smiley face" height="42" width="42"></div>
    </div>
    <div class="io-site">
        <div class="io-nav">
            <div class="io-nav-inner">
                <header class="io-nav-header green accent-5">
                    <div class="io-nav-text">
                        <div class="io-nav-header-name white-text darken-1">
                        Jaime<br> <strong>López</strong>
                        </div>
                        <div class="io-nav-header-email">
                        Programación Profesional
                        </div>
                        <div class="io-nav-header-email">
                        Overdelivering is a standar
                        </div>
                    </div>
                </header>
                <div class="io-navigation" du-scroll-container="container">
                    <a href="#section-1" du-smooth-scroll du-scrollspy class="io-navigation-item waves-effect">
                        <i class="mdi-social-person red-text accent-2"></i>
                        <div class="io-navigation-item-text grey-text darken-1">Perfil</div>
                    </a>
                    <a href="#section-2" du-smooth-scroll du-scrollspy ng-click="app.toSection2()" class="io-navigation-item waves-effect">
                        <i class="mdi-action-history purple-text accent-2"></i>
                        <div class="io-navigation-item-text grey-text darken-1">Experiencia</div>
                    </a>
                    <a href="#section-3" du-smooth-scroll du-scrollspy ng-click="app.toSection2()" class="io-navigation-item waves-effect">
                        <i class="mdi-av-web green-text accent-2"></i>
                        <div class="io-navigation-item-text grey-text darken-1">Projectos</div>
                    </a>
                    <a href="#section-4" du-smooth-scroll du-scrollspy ng-click="app.toSection2()" class="io-navigation-item waves-effect">
                        <i class="mdi-av-equalizer blue-text accent-2"></i>
                        <div class="io-navigation-item-text grey-text darken-1">Habilidades</div>
                    </a>
                    <a href="#section-5" du-smooth-scroll du-scrollspy ng-click="app.toSection2()" class="io-navigation-item waves-effect">
                        <i class="mdi-social-school amber-text darken-3"></i>
                        <div class="io-navigation-item-text grey-text darken-1">Formación</div>
                    </a>

                    <!-- <div href="#section-5" du-smooth-scroll du-scrollspy class="io-navigation-item waves-effect">
                        <i class="mdi-communication-call amber-text darken-3"></i>
                        <div class="io-navigation-item-text grey-text darken-1">Contact</div>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="io-container" id="container" du-scroll-container>

            <div class="io-content io-profile" id="section-1">
                <div class="io-profile-header">
                    <h1 class="grey-text text-darken-1">Jaime<strong>López</strong></h1>
                </div>
                <div class="io-profile-details" data-ng-include="'app/templates/profile.view.html'"></div>
            </div>

            

            <div class="io-content" id="section-2">
                <div class="col s12 io-content-header green accent-4">
                    <h1 class="white-text">Experiencia</h1>
                </div>
                <div class="io-section" data-ng-include="'app/templates/experience/hackreactor.view.html'"></div>
                <div class="io-section" data-ng-include="'app/templates/experience/hourglass-events.view.html'"></div>
                <div class="io-section" data-ng-include="'app/templates/experience/his-coatings.view.html'"></div>
                <div class="io-section" data-ng-include="'app/templates/experience/designer.view.html'"></div>
                <div class="io-section" data-ng-include="'app/templates/experience/dfw-print.view.html'"></div>
                <div class="io-section" data-ng-include="'app/templates/experience/photography.view.html'"></div>
                <div class="io-section" data-ng-include="'app/templates/experience/his-coatings-relations.view.html'"></div>
            </div>
            <div class="io-content" id="section-3">
                <div class="col s12 io-content-header green accent-4">
                    <h1 class="white-text">Projectos</h1>
                </div>

                <div class="row">
                    <div class="col s12 m6 l4">
                      <div class="card">
                        <div class="card-image">
                            <a href="http://estudiala.herokuapp.com">
                              <img src="images/cetiem.png" height="300px">
                              <span class="card-title">Cetiem</span>
                            </a>  
                        </div>
                        <div class="card-content">
                          <p>I am a very simple card. I am good at containing small bits of information.
                          I am convenient because I require little markup to use effectively.</p>
                        </div>  
                      </div>
                    </div>

                    <div class="col s12 m6 l4">
                      <div class="card">
                        <div class="card-image">
                            <a href="http://estudiala.herokuapp.com">
                              <img src="images/estudiala.png" height="300px">
                              <span class="card-title">Estudiala</span>
                            </a>  
                        </div>
                        <div class="card-content">
                          <p>I am a very simple card. I am good at containing small bits of information.
                          I am convenient because I require little markup to use effectively.</p>
                        </div>
                        
                      </div>
                    </div>


                    <div class="col s12 m6 l4">
                      <div class="card">
                        <div class="card-image">
                            <a href="http://denunciaelectoral.mx">
                              <img src="images/electoral.png" class="responsive-image" height="300px">
                              <span class="card-title" color="#000">Denuncia Electoral</span>
                            </a>  
                        </div>
                        <div class="card-content">
                          <p>I am a very simple card. I am good at containing small bits of information.
                          I am convenient because I require little markup to use effectively.</p>
                        </div>
                        
                      </div>
                    </div>

                    <div class="col s12 m6 l4">
                      <div class="card">
                        <div class="card-image">
                            <a href="http://makerspace.hacedores.com">
                              <img src="images/makerspace.png" height="300px">
                              <span class="card-title">Makerspace Hacedores</span>
                            </a>  
                        </div>
                        <div class="card-content">
                          <p>I am a very simple card. I am good at containing small bits of information.
                          I am convenient because I require little markup to use effectively.</p>
                        </div>
                        
                      </div>
                    </div>

              </div>

            </div>
            <div class="io-content" id="section-4">
                <div class="col s12 io-content-header green accent-4">
                    <h1 class="white-text">Habilidades</h1>
                </div>
                <div class="io-section has-cards" data-ng-include="'app/templates/skill-set.view.html'"></div>
            </div>
            <div class="io-content" id="section-5">
                <div class="col s12 io-content-header green accent-4">
                    <h1 class="white-text">Formación</h1>
                </div>
                <div class="io-section has-cards" data-ng-include="'app/templates/education/hackreactor.view.html'"></div>
                <div class="io-section has-cards" data-ng-include="'app/templates/education/swbts.view.html'"></div>
                <div class="io-section has-cards" data-ng-include="'app/templates/education/uco.view.html'"></div>
            </div>
        </div>
    </div>

    <!-- inject-vendor:js -->
    <script src="js/vendor.min-73bda590.js"></script>
    <!-- endinject -->

    <!-- inject:js -->
    <script src="js/all.min-cc0d69af.js"></script>
    <!-- endinject -->
    <script>
    </script>
  </body>
</html>