.main {
	background-size:  auto 100%;
	background-position: center;
}

.list-block ul:before, .list-block ul:after{
	background-color: transparent;
}

body {
	font-family: "avenir";
}

@font-face {
    font-family: avenir;
    src: url(../font/AvenirLTStd-Book.otf);
}

@font-face {
    font-family: avenir-black;
    src: url(../font/AvenirLTStd-Black.otf);
}