/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

@font-face {
  font-family: "avenir";
  src: url("../font/avenir/AvenirLTStd-Medium.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  line-height: 1.5;
  font-family: "avenir", sans-serif;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
  font-size: 10px;
  line-height: 1.2;
}

@media only screen and (max-width: 992px) {
  .pagination {
    width: 100%;
  }
  .pagination li.prev,
  .pagination li.next {
    width: 10%;
  }
  .pagination li.pages {
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 2vw;
  }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  html {
    font-size: 1.3vw;
  }
}

@media only screen and (min-width: 992px) {
  html {
    font-size: 1vw;
  }
}

@media only screen and (min-width: 1480px) {
  html {
    font-size: 14px;
  }
}
